<div class="container">
<div class="row">
<div class="col-xs-3">

<h2>User info</h2>
<div class="user-edit-image">
	<%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback: "No_image.jpg" %>
</div>

<table class="table">
	<tbody>
		<tr>
			<th>name</th><th><%= current_user.name %></th>
		</tr>
		<tr>
			<th>introduction</th><th><%= current_user.introduction %></th>
		</tr>
	</tbody>
</table>


<%= link_to "", edit_user_path(current_user), class: "glyphicon glyphicon-wrench btn btn-default w-100" %>


<h2>New book</h2>
<%= form_for(@book) do |book| %>
<p><b>Title</b></p>
<%= book.text_field :title %>
<p><b>Opinion</b></p>
<%= book.text_area :body %><br>
<button type="submit" class="btn btn-primary">Create Book </button>
<% end %>
</div>

<div class="col-xs-9">
<h2>Users</h2>
<table class="table table-hover">
	<thead>
		<tr>
			<th>image</th><th>name</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><div class="user-edit-image">
	<%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "No_image.jpg",size:'40x40' %>
</div>
</td>
			<td><%= user.name %></td>
		</tr>
		<% end %>
	</tbody>

</table>
</div>
</div>
</div>
  <div class="col-xs-offset-9 copyright-top">CopyRight Infratop.inc</div>
