<div class="container">
<div class="row">
<div class="col-xs-3">
	<%= render 'layouts/side', book: @book, user: current_user %>
</div>

<div class="col-xs-9">
<h2>Users</h2>
<table class="table table-hover">
	<thead>
		<tr>
			<th>image</th><th>name</th><th><th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td>
				<div class="user-edit-image">
					<%= link_to user_path(user) do %>
						<%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "No_image.jpg",size:'40x40' %>
					<% end %>
				</div>
			</td>
			<td><%= user.name %></td>
			<td id = "follow_<%= user.id %>">
				<% if user.id != current_user.id %>
					<%= render 'follow/follow', user: user %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>

</table>
</div>
</div>
</div>
  <div class="col-xs-offset-9 copyright-top">CopyRight Infratop.inc</div>
