<h2>User info</h2>
<div class="user-edit-image">
	<%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback: "No_image.jpg" %>
</div>

<table class="table">
	<tbody>
		<tr>
			<th>name</th><th><%= user.name %></th>
		</tr>
		<tr>
			<th>introduction</th><th><%= user.introduction %></th>
		</tr>
		<tr>
			<th>フォロー数：</th><th><%= link_to user.followings.count, following_user_path(user) %></th>
		</tr>
		<tr>
			<th>フォロワー数：</th><th><%= link_to user.followers.count, follower_user_path(user) %></th>
		</tr>
	</tbody>
</table>

<% if user.id == current_user.id %>
	<%= link_to "", edit_user_path(user), class: "glyphicon glyphicon-wrench btn btn-default w-100" %>
<% else %>
	<div id = "follow_<%= user.id %>">
		<%= render 'follow/follow', user: user %>
	</div>
<% end %>


<h2>New book</h2>
<%= form_for(book) do |book| %>
<p><b>Title</b></p>
<%= book.text_field :title %>
<p><b>Opinion</b></p>
<%= book.text_area :body %><br>
<button type="submit" class="btn btn-primary">Create Book </button>
<% end %>
